body {
  font-family: Roboto, Arial;
  margin: 0;
  padding: 80px 10px 80px 80px;
  background-color: rgb(255, 255, 255);
}

p {
  margin: 0;
  font-size: 18px;
}

header {
  margin: 0px;
  padding: 0px;
  z-index: 1000;
}

button {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}