.header-div {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.header-div {
  background-color: #a3a1a1;
}

.left-panel {
  display: flex;
  align-items: center;
}

.center-panel {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 30px;
}

.right-panel {
  background-color: #7bf17b;
  display: flex;
  align-items: center;


}

.header-panel-icons {
  height: 30px;
  object-fit: cover;
}

/* LEFT PANEL CSS*/
.youtube-logo {
  height: 25px;
  object-fit: cover;
}

.hamburger-menu {
  margin: 0 20px 0 15px;
}

/* CENTER PANEL CSS*/
.search-input {
  display: flex;
  flex: 1;
  height: 40px;
  border: 1px solid rgb(192, 192, 192);
  padding-left: 12px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
  font-family: Roboto, Arial;
}

.search-button {
  height: 42px;
  width: 67px;
  margin-top: -1px;
  margin-left: -2px;
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
}

.voice-search-button {
  background-color: rgb(245, 245, 245);
  margin-top: -1px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.voice-search-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/* RIGHT PANEL CSS*/
.upload-icon,
.yt-apps-icon,
.notification-icon {
  height: 30px;
  object-fit: cover;
  margin-right: 20px;
}